table,
th,
td {
    border: 2px solid gray;
    color: blue;
}
table {
    width: 100%;
}
th {
    height: 70px;
}
td {
    padding: 20px;
}
.name {
    text-align:center;
}
.name {
    text-align: center;
}